<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>HOME | 맛집NOW</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- BootStrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Google Font CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">

    <!-- importing CSS stylesheet -->
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{{ url_for('static', filename='myjs.js') }}"></script>

</head>
<style>
    .cover {
        background-color: gray;
        height: 300px;
        margin-top: 0px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://wallpapersmug.com/download/1920x1080/ddcbbf/food-pizza-baking.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .filter {
        background-color: aquamarine;
        width: 1000px;
        height: 300px;
        margin: auto;
        margin-top: 20px;
    }
</style>
<script>
    var local = ''
    var category = ''
    var tag1_local = true //지역 태그 : true일때 눌르는선택 false면 아무것도 선택 X
    var tag2_category = true //메뉴 태그 : true일때 눌르는선택 false면 아무것도 선택 X

    function tag1(c) {
        // let local_keyword = $('#button1').val();

        local = c
        console.log(c)
        return local
    }

    function tag2(c) {
        category = c
        console.log(c)
        return category
    }

    function search() {
        a = local
        b = category
        console.log(a)
        console.log(b)
        if (a != '' && b != '') {
            $.ajax({
                type: "POST",
                url: "/index",
                data: {local: a, category: b},
                success: function (response) {
                    console.log(a)
                    console.log(b)
                    console.log(response)
                }
            })


        }
    }
    function testremove(c) {
            if (tag1_local == true) {
                if (c == '강남') {
                    console.log('강남 클릭')
                    $('#button1').remove();
                    $('#button2').remove();
                    $('#button3').remove();
                    $('#button4').remove();
                    $('#button5').remove();
                    $('#button6').remove();
                    let temp_html = `<a class="btn btn-danger" onclick="testremove('강남')" href="#" role="button" id="button1">#강남</a>
                            <a class="btn btn-primary" onclick="testremove('홍대')" href="#" role="button" id="button2">#홍대</a>
                            <a class="btn btn-primary" onclick="testremove('건대')" href="#" role="button" id="button3">#건대</a>
                            <a class="btn btn-primary" onclick="testremove('종로')" href="#" role="button" id="button4">#종로</a>
                            <a class="btn btn-primary" onclick="testremove('신림')" href="#" role="button" id="button5">#신림</a>
                            <a class="btn btn-primary" onclick="testremove('노원')" href="#" role="button" id="button6">#노원</a> `
                    $('#local_tag_1').append(temp_html)
                    tag1_local = false
                    tag1(c)
                } else if (c == '홍대') {
                    console.log('홍대 클릭')
                    $('#button1').remove();
                    $('#button2').remove();
                    $('#button3').remove();
                    $('#button4').remove();
                    $('#button5').remove();
                    $('#button6').remove();
                    let temp_html = `<a class="btn btn-primary" onclick="testremove('강남')" href="#" role="button" id="button1">#강남</a>
                            <a class="btn btn-danger" onclick="testremove('홍대')" href="#" role="button" id="button2">#홍대</a>
                            <a class="btn btn-primary" onclick="testremove('건대')" href="#" role="button" id="button3">#건대</a>
                            <a class="btn btn-primary" onclick="testremove('종로')" href="#" role="button" id="button4">#종로</a>
                            <a class="btn btn-primary" onclick="testremove('신림')" href="#" role="button" id="button5">#신림</a>
                            <a class="btn btn-primary" onclick="testremove('노원')" href="#" role="button" id="button6">#노원</a> `
                    $('#local_tag_1').append(temp_html)
                    tag1_local = false
                    tag1(c)
                } else if (c == '건대') {
                    console.log('건대 클릭')
                    $('#button1').remove();
                    $('#button2').remove();
                    $('#button3').remove();
                    $('#button4').remove();
                    $('#button5').remove();
                    $('#button6').remove();
                    let temp_html = `<a class="btn btn-primary" onclick="testremove('강남')" href="#" role="button" id="button1">#강남</a>
                            <a class="btn btn-primary" onclick="testremove('홍대')" href="#" role="button" id="button2">#홍대</a>
                            <a class="btn btn-danger" onclick="testremove('건대')" href="#" role="button" id="button3">#건대</a>
                            <a class="btn btn-primary" onclick="testremove('종로')" href="#" role="button" id="button4">#종로</a>
                            <a class="btn btn-primary" onclick="testremove('신림')" href="#" role="button" id="button5">#신림</a>
                            <a class="btn btn-primary" onclick="testremove('노원')" href="#" role="button" id="button6">#노원</a> `
                    $('#local_tag_1').append(temp_html)
                    tag1_local = false
                    tag1(c)
                } else if (c == '종로') {
                    console.log('종로 클릭')
                    $('#button1').remove();
                    $('#button2').remove();
                    $('#button3').remove();
                    $('#button4').remove();
                    $('#button5').remove();
                    $('#button6').remove();
                    let temp_html = `<a class="btn btn-primary" onclick="testremove('강남')" href="#" role="button" id="button1">#강남</a>
                            <a class="btn btn-primary" onclick="testremove('홍대')" href="#" role="button" id="button2">#홍대</a>
                            <a class="btn btn-primary" onclick="testremove('건대')" href="#" role="button" id="button3">#건대</a>
                            <a class="btn btn-danger" onclick="testremove('종로')" href="#" role="button" id="button4">#종로</a>
                            <a class="btn btn-primary" onclick="testremove('신림')" href="#" role="button" id="button5">#신림</a>
                            <a class="btn btn-primary" onclick="testremove('노원')" href="#" role="button" id="button6">#노원</a> `
                    $('#local_tag_1').append(temp_html)
                    tag1_local = false
                    tag1(c)
                } else if (c == '신림') {
                    console.log('신림 클릭')
                    $('#button1').remove();
                    $('#button2').remove();
                    $('#button3').remove();
                    $('#button4').remove();
                    $('#button5').remove();
                    $('#button6').remove();
                    let temp_html = `<a class="btn btn-primary" onclick="testremove('강남')" href="#" role="button" id="button1">#강남</a>
                            <a class="btn btn-primary" onclick="testremove('홍대')" href="#" role="button" id="button2">#홍대</a>
                            <a class="btn btn-primary" onclick="testremove('건대')" href="#" role="button" id="button3">#건대</a>
                            <a class="btn btn-primary" onclick="testremove('종로')" href="#" role="button" id="button4">#종로</a>
                            <a class="btn btn-danger" onclick="testremove('신림')" href="#" role="button" id="button5">#신림</a>
                            <a class="btn btn-primary" onclick="testremove('노원')" href="#" role="button" id="button6">#노원</a> `
                    $('#local_tag_1').append(temp_html)
                    tag1_local = false
                    tag1(c)
                } else if (c == '노원') {
                    console.log('노원 클릭')
                    $('#button1').remove();
                    $('#button2').remove();
                    $('#button3').remove();
                    $('#button4').remove();
                    $('#button5').remove();
                    $('#button6').remove();
                    let temp_html = `<a class="btn btn-primary" onclick="testremove('강남')" href="#" role="button" id="button1">#강남</a>
                            <a class="btn btn-primary" onclick="testremove('홍대')" href="#" role="button" id="button2">#홍대</a>
                            <a class="btn btn-primary" onclick="testremove('건대')" href="#" role="button" id="button3">#건대</a>
                            <a class="btn btn-primary" onclick="testremove('종로')" href="#" role="button" id="button4">#종로</a>
                            <a class="btn btn-primary" onclick="testremove('신림')" href="#" role="button" id="button5">#신림</a>
                            <a class="btn btn-danger" onclick="testremove('노원')" href="#" role="button" id="button6">#노원</a> `
                    $('#local_tag_1').append(temp_html)
                    tag1_local = false
                    tag1(c)
                }


            } else {

                $('#button1').remove();
                $('#button2').remove();
                $('#button3').remove();
                $('#button4').remove();
                $('#button5').remove();
                $('#button6').remove();
                let temp_html = `<a class="btn btn-primary" onclick="testremove('강남')" href="#" role="button" id="button1">#강남</a>
                            <a class="btn btn-primary" onclick="testremove('홍대')" href="#" role="button" id="button2">#홍대</a>
                            <a class="btn btn-primary" onclick="testremove('건대')" href="#" role="button" id="button3">#건대</a>
                            <a class="btn btn-primary" onclick="testremove('종로')" href="#" role="button" id="button4">#종로</a>
                            <a class="btn btn-primary" onclick="testremove('신림')" href="#" role="button" id="button5">#신림</a>
                            <a class="btn btn-primary" onclick="testremove('노원')" href="#" role="button" id="button6">#노원</a> `
                $('#local_tag_1').append(temp_html)
                tag1_local = true


            }


        }
    function testremove_2(c) {
            if (tag2_category == true) {
                if (c == '한식') {
                    $('#button7').remove();
                    $('#button8').remove();
                    $('#button9').remove();
                    $('#button10').remove();
                    let temp_html = `<a class="btn btn-danger" onclick="testremove_2('한식')" href="#" role="button" id="button7">#한식</a>
                            <a class="btn btn-primary" onclick="testremove_2('양식')" href="#" role="button" id="button8">#양식</a>
                            <a class="btn btn-primary" onclick="testremove_2('일식')" href="#" role="button" id="button9">#일식</a>
                            <a class="btn btn-primary" onclick="testremove_2('중식')" href="#" role="button" id="button10">#중식</a>`
                    $('#category_tag').append(temp_html)
                    tag2_category=false
                    tag2(c)
                } else if (c == '양식') {
                    $('#button7').remove();
                    $('#button8').remove();
                    $('#button9').remove();
                    $('#button10').remove();
                    let temp_html = `<a class="btn btn-primary" onclick="testremove_2('한식')" href="#" role="button" id="button7">#한식</a>
                            <a class="btn btn-danger" onclick="testremove_2('양식')" href="#" role="button" id="button8">#양식</a>
                            <a class="btn btn-primary" onclick="testremove_2('일식')" href="#" role="button" id="button9">#일식</a>
                            <a class="btn btn-primary" onclick="testremove_2('중식')" href="#" role="button" id="button10">#중식</a>`
                    $('#category_tag').append(temp_html)
                    tag2_category=false
                    tag2(c)
                } else if (c == '일식') {
                    $('#button7').remove();
                    $('#button8').remove();
                    $('#button9').remove();
                    $('#button10').remove();
                    let temp_html = `<a class="btn btn-primary" onclick="testremove_2('한식')" href="#" role="button" id="button7">#한식</a>
                            <a class="btn btn-primary" onclick="testremove_2('양식')" href="#" role="button" id="button8">#양식</a>
                            <a class="btn btn-danger" onclick="testremove_2('일식')" href="#" role="button" id="button9">#일식</a>
                            <a class="btn btn-primary" onclick="testremove_2('중식')" href="#" role="button" id="button10">#중식</a>`
                    $('#category_tag').append(temp_html)
                    tag2_category=false
                    tag2(c)
                } else if (c == '중식') {
                    $('#button7').remove();
                    $('#button8').remove();
                    $('#button9').remove();
                    $('#button10').remove();
                    let temp_html = `<a class="btn btn-primary" onclick="testremove_2('한식')" href="#" role="button" id="button7">#한식</a>
                            <a class="btn btn-primary" onclick="testremove_2('양식')" href="#" role="button" id="button8">#양식</a>
                            <a class="btn btn-primary" onclick="testremove_2('일식')" href="#" role="button" id="button9">#일식</a>
                            <a class="btn btn-danger" onclick="testremove_2('중식')" href="#" role="button" id="button10">#중식</a>`
                    $('#category_tag').append(temp_html)
                    tag2_category=false
                    tag2(c)
                }


            } else {
                $('#button7').remove();
                $('#button8').remove();
                $('#button9').remove();
                $('#button10').remove();
                let temp_html = `<a class="btn btn-primary" onclick="testremove_2('한식')" href="#" role="button" id="button7">#한식</a>
                            <a class="btn btn-primary" onclick="testremove_2('양식')" href="#" role="button" id="button8">#양식</a>
                            <a class="btn btn-primary" onclick="testremove_2('일식')" href="#" role="button" id="button9">#일식</a>
                            <a class="btn btn-primary" onclick="testremove_2('중식')" href="#" role="button" id="button10">#중식</a>`
                $('#category_tag').append(temp_html)
                tag2_category=true

            }

        }
    function listing() {
        $.ajax({
            type: 'GET',
            url: '/index',
            data: {},
            success: function (response) {
                let rows = response['Stores']
                for (let i = 0; i < rows.length; i++) {
                    let store = rows[i]
                    let storename = rows[i]['StoreName']
                    let address = rows[i]['Adress']
                    let star = rows[i]['StorePoint']
                    let image = rows[i]['thumnail']

                    let temp_html = `<div class="col">
                                            <a href="/detail/${store['Num']}"><div class="card h-100">
                                                <img src="${image}"
                                                     class="card-img-top">
                                                <div class="card-body">
                                                    <h5 class="card-title">${storename}</h5>

                                                    <p>${star}</p>
                                                    <p class="mycomment">${address}</p>
                                                </div>
                                            </div></a>
                                        </div>`

                    $('#cards-box').append(temp_html)

                }
            }
        })

    }

    $(document).ready(function () {
        listing();
    });

</script>
<body>
<div class="nav">
    <a><h3 class="logo" onclick="window.location.href='/'">맛집NOW</h3></a>
    <button type="button" class="btn btn-outline-light" onclick="logout()">Log out</button>
    <h6 class="subtitle" style="color: white">{{ user_info.username }} 님, 안녕하세요~</h6>
</div>
<div class="cover">
</div>
<h1 class="filter2">필터</h1>
<div class="Set_filter">
    <div class="filter-item">
        <label class="strong_tag">지역</label>
        <p class="local_tag" id="local_tag_1">
            <!--                    <a href="#" target="_self" role="button" aria-pressed="true">한식</a>-->
            <!--                    <input type="radio" id ="local01" name="local" >-->
            <a class="btn btn-primary" onclick="testremove('강남')" href="#" role="button" id="button1">#강남</a>
            <a class="btn btn-primary" onclick="testremove('홍대')" href="#" role="button" id="button2">#홍대</a>
            <a class="btn btn-primary" onclick="testremove('건대')" href="#" role="button" id="button3">#건대</a>
            <a class="btn btn-primary" onclick="testremove('종로')" href="#" role="button" id="button4">#종로</a>
            <a class="btn btn-primary" onclick="testremove('신림')" href="#" role="button" id="button5">#신림</a>
            <a class="btn btn-primary" onclick="testremove('노원')" href="#" role="button" id="button6">#노원</a>
        </p>

    </div>
    <div class="filter-item">
        <label class="strong_tag">음식 분류</label>
        <p class="local_tag" id="category_tag">
            <!--                    <a href="#" target="_self" role="button" aria-pressed="true">한식</a>-->
            <a class="btn btn-primary" onclick="testremove_2('한식')" href="#" role="button" id="button7">#한식</a>
            <a class="btn btn-primary" onclick="testremove_2('양식')" href="#" role="button" id="button8">#양식</a>
            <a class="btn btn-primary" onclick="testremove_2('일식')" href="#" role="button" id="button9">#일식</a>
            <a class="btn btn-primary" onclick="testremove_2('중식')" href="#" role="button" id="button10">#중식</a>
        </p>

    </div>

    <button id="search" type="button" class="btn btn-outline-dark" onclick="search()">필터 적용</button>
</div>


</div>
<div class="mycards">
    <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
    </div>
</div>
</body>
</html>